<div class="row">
    <div class="col-sm-12">
        <h3>About</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{packageInfo.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{packageInfo.description}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Version</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{packageInfo.version}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">License</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{packageInfo.license}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Built by</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="http://jotisoftware.com" target="_blank">jotisoftware.com</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Contact</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="mailto:info@jotisoftware.com" target="_blank">info@jotisoftware.com</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Acknowledgments</label>
                <div class="col-sm-10">
                    <p class="form-control-static">Thanks to the folks at <a href="http://www.qurandatabase.org/" target="_blank">Quran Database</a> for
                        the use of their data.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>