<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/">Quran Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-nav" aria-controls="top-nav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="top-nav">
            <ul class="navbar-nav ml-auto">
                <li class="pr-3" title="search">
                    <a routerLink="search" routerLinkActive="active">Search</a>
                </li>
                <li class="pr-3" title="browse">
                    <a routerLink="browse" routerLinkActive="active">Browse</a>
                </li>
                <li title="about">
                    <a routerLink="about" routerLinkActive="active">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>