<div *ngIf="response && response.docs" class="row">
  <div class="col-sm-12 col-md-3">
    <div class="visible-xs-block visible-sm-block">
      <select class="form-control input-sm" #translation (change)="changeDoc(translation.value)">
        <option *ngFor="let facet of translations.facets" value="{{facet.value}}" [selected]="facet.active">{{translationRef(facet.value).name}}</option>
      </select>
    </div>
    <div class="visible-md-block visible-lg-block">
      <h3>Translations</h3>
      <ul class="list-group m-t-1">
        <a *ngFor="let facet of translations.facets" (click)="changeDoc(facet.value)" class="list-group-item {{facet.active? 'active' : ''}}">{{translationRef(facet.value).name}}</a>
      </ul>
    </div>
  </div>
  <div id="browse" class="col-sm-12 col-md-9">

    <h3>{{doc.chapterName}}</h3>
    <h3>
      <a *ngIf="chapterId > 10" class="m-l-p5" (click)="browse(chapterId - 10, translationId)" title="back 10"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
      <i *ngIf="chapterId <= 10" class="m-l-p5 text-muted fa fa-angle-double-left" aria-hidden="true"></i>

      <a *ngIf="chapterId > 1" class="m-l-p5" (click)="browse(chapterId - 1, translationId)" title="back 1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      <i *ngIf="chapterId <= 1" class="m-l-p5 text-muted fa fa-angle-left" aria-hidden="true"></i>

      <input style="background-color: lightgray;" class="m-l-p5" [(ngModel)]="chapterId" (change)="browse(chapterId, translationId)"
        name="chapterId" type="number" min="1" max="{{MAX_CHAPTERS}}" step="1" />
      <!--<span class="m-l-p5">{{chapterId}}</span>-->

      <a *ngIf="chapterId < MAX_CHAPTERS" class="m-l-p5" (click)="browse(chapterId + 1, translationId)" title="forward 1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <i *ngIf="chapterId >= MAX_CHAPTERS - 1" class="m-l-p5 text-muted fa fa-angle-right" aria-hidden="true"></i>

      <a *ngIf="chapterId < MAX_CHAPTERS - 9" class="m-l-p5" (click)="browse(chapterId + 10, translationId)" title="forward 10"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      <i *ngIf="chapterId >= MAX_CHAPTERS - 9" class="m-l-p5 text-muted fa fa-angle-double-right" aria-hidden="true"></i>
      <spinner *ngIf="working" [tickness]="3" [size]="20"></spinner>
    </h3>
    <div *ngFor="let line of doc.text[0].split('\n'); let i = index;">
      <hr/>
      <p>{{line}}</p>
      <p>{{original[i]}}</p>
      <!--<p>{{transliteration[i]}}</p>-->
    </div>
  </div>
</div>