<nav *ngIf="pages && pages.length > 1">
  <ul class="pagination" [ngClass]="{'pagination-sm':small}">
    <li *ngIf="showFirstLast" class="page-item" [ngClass]="{disabled:currentPage === 0}">
      <a class="page-link first" (click)="paginate(0)"></a>
    </li>
    <li *ngIf="showPreviousNext" class="page-item" [ngClass]="{disabled:currentPage === 0}">
      <a class="page-link previous" (click)="paginate(currentPage - 1)"></a>
    </li>
    <li *ngFor="let page of pages" class="page-item" [ngClass]="{active:currentPage === page}">
      <a class="page-link" (click)="paginate(page)">{{page + 1}}</a>
    </li>
    <li *ngIf="showPreviousNext" class="page-item" [ngClass]="{disabled:currentPage === pagesSize}">
      <a class="page-link next" (click)="paginate(currentPage + 1)"></a>
    </li>
    <li *ngIf="showFirstLast" class="page-item" [ngClass]="{disabled:currentPage === pagesSize}">
      <a class="page-link last" (click)="paginate(pagesSize)"></a>
    </li>
  </ul>
</nav>