<div class="row">
    <div class="col-sm-12">
        <input class="form-control" type="text" [(ngModel)]="q" name="q" (keyup.enter)="search()" placeholder="search..." />
        <div class="text-center" style="position: relative; top: -2em;">
            <spinner *ngIf="working" [tickness]="3" [size]="20"></spinner>
        </div>
    </div>
</div>
<div *ngIf="response && response.docs" class="row">
    <div id="facets" class="col-sm-12 col-md-3">
        <h2>Filters</h2>
        <h3 (click)="languages.show = !languages.show">Languages <span class="badge">{{languages.useable}}</span></h3>
        <ul [hidden]="!languages.show" class="list-group">
            <a *ngFor="let facet of languages.facets" (click)="toggleFilter('language', facet.value)" class="list-group-item {{facet.count == 0 ? 'hidden' : ''}} {{facet.active? 'active' : ''}}"><span class="badge">{{facet.count}}</span>{{langRef(facet.value).name}}</a>
        </ul>
        <h3 (click)="chapters.show = !chapters.show">Chapters <span class="badge">{{chapters.useable}}</span></h3>
        <ul [hidden]="!chapters.show" class="list-group">
            <a *ngFor="let facet of chapters.facets" (click)="toggleFilter('chapter', facet.value)" class="list-group-item {{facet.count == 0 ? 'hidden' : ''}} {{facet.active? 'active' : ''}}"><span class="badge">{{facet.count}}</span>{{chapterRef(facet.value, 'en').name}}</a>
        </ul>
        <h3 (click)="authors.show = !authors.show">Translations <span class="badge">{{authors.useable}}</span></h3>
        <ul [hidden]="!authors.show" class="list-group">
            <a *ngFor="let facet of authors.facets" (click)="toggleFilter('author', facet.value)" class="list-group-item {{facet.count == 0 ? 'hidden' : ''}} {{facet.active? 'active' : ''}}"><span class="badge">{{facet.count}}</span>{{authorRef(facet.value).name}}</a>
        </ul>
    </div>
    <div class="col-sm-12 col-md-9">
        <div>
            <h2>Search Results <span class="badge">{{response.numFound}}</span></h2>
            <pager [itemsSize]="response.numFound" [currentItem]="response.start" [pageSize]="_service.pageSize" [max]="15" [small]="true" (onPaginate)="paginate($event * _service.pageSize)"></pager>
        </div>
        <div *ngFor="let doc of response.docs">
            <h3 title="{{doc.id}}">{{doc.chapterName}} <small class="text-muted">[{{authorRef(doc.authorCode).name}}{{doc.langCode ? ' &ndash; ' + langRef(doc.langCode).name : ''}}]</small></h3>
            <div class="highlight well" *ngIf="hl[doc.id]">
                <p dir="{{doc.direction}}">
                    <a (click)="doc.show = !doc.show; false;"><i class="fa fa-{{doc.show ? 'minus' : 'plus'}}-square" aria-hidden="true"></i></a>
                    <a routerLink="browse/{{doc.chapterId}}/{{doc.translationId}}" title="browse"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <span class="p-l-1">&hellip;</span>
                    <span [innerHTML]="hl[doc.id]['text_' + doc.langCode] || hl[doc.id]['text'] || doc.text[0].split('\n')[0]"></span>&hellip;
                    <span class="p-l-1">&hellip;</span>
                    <br/>
                </p>
            </div>
            <div class="detail m-t-1" [hidden]="!doc.show">
                <p dir="{{doc.direction}}" *ngFor="let line of doc.text[0].split('\n')">
                    {{line}}
                </p>
            </div>
        </div>
    </div>
</div>